<div class="comment" data-post_id="<%= @post.id %>">
  <div id="comment-header">
    <h2>Comments</h2>

  </div>

  <% @post.comments.each do |comment| %>
      <div id="commentBlock" class="comment-view" data-comment_id="<%= comment.id %>">
        <div class="form-group">
          Commenter:
          <%= comment.commenter %>
        </div>

        <div class="form-group" >
          Comment № <%= comment.id %>:
          <%= comment.body %>
          <div class="deleteAction">Delete</div>
         </div>

        <div class="comment-edit">
          <%= link_to 'Edit', '/edit-comment', class: 'edit_comment', remote: true %>
          <!-- то же самое что и  <a class="edit_comment" href="#" data-remote="true">Add String</a> -->
        </div>
      </div>
  <% end %>

  <div id="comment-header">
    <h2>Add a comment</h2>
  </div>
  <div class="comment-add">
    <%= form_with(model: [@post, @post.comments.build], local: true) do |form| %>
        <div class="form-group">
          <%= form.label :commenter %><br>
          <%= form.text_field :commenter, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= form.label :body %><br>
          <%= form.text_area :body, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= form.submit class: 'btn btn-info' %>
        </div>
    <% end %>
  </div>
</div>


